<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="stylesheets/style.css" />
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<main class="w-full h-screen bg-zinc-900 py-8 px-14 text-white">
			<div class="text-2xl font-bold my-2">Create User</div>
			<form action="/create" method="post">
				<input type="text" name="username" placeholder="Username" class="block mt-2 bg-zinc-800 rounded-lg p-4 w-1/2 outline-none" />
				<input type="email" name="email" placeholder="Email" class="block mt-2 bg-zinc-800 rounded-lg p-4 w-1/2 outline-none" />
				<input type="password" name="password" placeholder="Password" class="block mt-2 bg-zinc-800 rounded-lg p-4 w-1/2 outline-none" />
				<input type="submit" value="Create" class="block mt-2 bg-blue-800 rounded-lg p-4 cursor-pointer" />
			</form>
		</main>
	</body>
</html>
